nav{
    width: 100%;
    height: 100vh;
    color:rgb(49, 207, 115);
    display: flex;
    justify-content: space-around;
}

.logo{
    font-size: 50px;
    font-display:block;
    letter-spacing: 2px;
}

.menu a{
    text-decoration: none;
    padding: 10px 20px;
    color: yellow;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}

.menu a::before{
    content:'';
    position: absolute;
    top:0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid rgb(172, 54, 103);
    transition: 0.4s linear;
}

.menu a:hover:before{
    width:90%;  
}
.signup a{
    text-decoration: none;
    padding: 5px 20px;
    color: rgb(37, 201, 196);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(66, 47, 50);
    border-radius: 5px;
    transition: 0.4s;
    
}

.signup a:hover{
    background: transparent;
    border: 2px solid blueviolet;
}

.center{
    max-width: 650px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(202, 223, 20);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.center span{
    letter-spacing: 5px;
    font-size: 30px;
    font-weight: bold;
    color: greenyellow;
}

.center h1{
    font-size: 3.5em;
}

.center a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    color: rgb(54, 10, 212);
    font-family: cursive;
    font-weight: bolder;
    border: 2px;
    transition: 0.4s;
    letter-spacing: 1px;
   
}

.center a:hover{
    color:aqua;
    
}